.team{
	width: 100%;
	height: 100%;
	
}

.team-container{
	@include container;	
	padding-top: 100px;
}

.team__list{
	width: 100%;
	height: 100%;
	display: inline-block;
	font-size: 0;
	margin: 0;
	padding: 0;
text-align: center;
	}

.team__item{
	display: inline-block;
	width: 25%;
}

.team__item-content{
	display: inline-block;
	width: 100%;
	padding: 0 11.25px;
}

.team__item--name, .team__item--vac, .team__item--text{
	font-family: $font-fam-team;
	display: inline-block;
	width: 100%;
	text-align: left;
	margin: 0;
	padding: 0;
	line-height: 20px;
}

.team__item--name{
	font-size: 22px;
	text-transform: capitalize;
	color: $col-team-name;
	font-weight: $weight-team-name;
	padding-top: 30px;
}
.team__item--vac{
	font-size: 13px;
	text-transform: uppercase;
	color: $col-team-vac;
	font-weight: $weight-team-vac;
	padding-top: 14px;
}
.team__item--text{
	font-size: 14px;
	color:$col-team-text;
	font-weight: $weight-team-text;
	padding-top: 28px;
}

.social {
  padding: 29px 0 100px 0;
  width: 170px;
}

.team-social__list {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__item {
  margin-right: 4px;
  border: 1px solid #e8ecee;
  &:last-child {
    margin-right:0;
  }
}

.social__link {
  width: 40px;
  height: 40px;
  @include flexCenter;
  color: #6c7279;
  text-decoration: none;
}
