.social__wrapper{
	display: flex;
	justify-content: center;
	margin-top: 108px;

}

.social__link{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background:#fff;
	margin-left: 20px;	
    text-align: center;
    vertical-align: middle;
    color: #979797;
    font-size: 34px;
	line-height: 68px;
	&:hover{
		color:#fff;
		background:#979797;
	}
}

