/**
* FOOTER VARIABLES
**/
$top-footer-bg: #3a3e64;
$bottom-footer-bg: #313454;

/**
* PAGE BTN's
**/

$page-btn-bg: #e84545;

//quality var

$font-qlt-title:#2d3033;
$font-fam-qlt:'Raleway', sans-serif;


//works var

$works-bg-over: #d34141;

//team var
$font-fam-team:'Raleway', sans-serif;
$col-team-name:#2d3033;
$col-team-vac:#e84545;
$col-team-text:#6c7279;
$weight-team-name:400;
$weight-team-vac:400;
$weight-team-text:400;

//clients var
$client-bg-right:#53354a;
$client-family-main: 'Cardo', serif;
$client-family-text: 'Raleway', sans-serif;

//download var
$font-fam-dnl:'Raleway', sans-serif;
