
/*-- adjustment settings
============================*/

* {
	box-sizing: border-box;
}



/* input settings */
/* *::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
} */


html, body {
	width: 100%;
	height: 100vh;
	
}

body {
	background: #fff;
}

.maincontent {
	width: 100%;
	height: 100vh;
	
}


ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}


img {
	max-width: 100%;
	display: block;
}

.hidden {
	display: none;
}




/*-- header
============================*/

.header{
	width: 100%;
	max-height: 100%;	
	position: fixed;
	z-index: 999;

}
    .header:after{
     content: '';
     display: block;
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background: #fff;
     opacity: 0.1;
    }
	.flex-container{
		width: 100%;
		padding:60px 28px 46px 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
			.flex-container--logo{
				width: 50%;
				text-align: left;
			}
				.flex-container--logo__link{
					font-family: 'Montserrat', sans-serif;
					font-weight: 800;
					font-size: 60px;
					padding-top:36px ;
					text-transform: capitalize;

				}
	.header__search{
		width: 50%;
		display: flex;
		align-items: center;
	   
	}

			.header__fild{
				width: 500px;
				height: 50px;
				 background-color: transparent;
				 border: none;
				}

			.button{
				 background-color: transparent;
				 border: none;
				 cursor: pointer;
			}

/*-- header
============================*/

/*
*
*
* MAIN
*
*
*/

.main{
	width: 100%;	
	display: flex;
	position: relative;
}

		.main__fixes{
			width: 50%;
			flex-grow: 1;
			position: relative;
		}

		.main__fixes:after{
			content: '';
			display: block;
			position: absolute;
			top: 0;
 			left: 0;
			height: 100%;
			width: 100%;
			z-index: 10;
			background: linear-gradient(to top, #529c9a, #3f5ba8);
			opacity: 0.7;
		}
            .main__fixes-text{
	         	position: absolute;
	         	left: 50%;
	         	top: 50%;
	         	transform: translate(-50%, -50%);
	            z-index: 11;
	            color: #fff;
	            display: flex;
	            flex-direction: column;
	            align-items: center;
	         }
	           .main__fixes-title{
	           	text-transform: uppercase;
				font-size: 100px;
				font-family: 'Montserrat', Arial sans-serif;
				font-weight:500 ;
				margin: 0;
	           }
	           .main__fixes-paragraf{
	           	text-transform: capitalize;
				font-size: 50px;
				font-family: 'Montserrat', Arial sans-serif;
				font-weight: 400 ;
				color: #fff;
				margin: 0;
	           }
	           .main__fixes-btn{
	           	width: 450px;
				height: 140px;
				margin-top: 136px;
				text-transform: uppercase;
				font-size: 26px;
				font-family: 'Montserrat', Arial sans-serif;
				font-weight: 400 ;
				background-color: rgba(255, 255, 255, .12) ;
				border: none;
				border-radius: 10px;
				cursor: pointer;
				color: #fff;				
	           }
	           
		.main__cruisers{
			width: 50%;
			flex-grow: 1;
			position: relative;
		}
		.main__cruisers:after{
			content: '';
			display: block;
			position: absolute;
			top: 0;
 			left: 0;
			height: 100%;
			width: 100%;
			z-index: 10;
			background: linear-gradient(to top, #e2a8f4, #a069cd);
			opacity: 0.7;
		}
		.main__cruisers-text{
	         	position: absolute;
	         	left: 50%;
	         	top: 50%;
	         	transform: translate(-50%, -50%);
	            z-index: 11;
	            color: #fff;
	            display: flex;
	            flex-direction: column;
	            align-items: center;
	         }
	           .main__cruisers-title{
	           	text-transform: uppercase;
				font-size: 100px;
				font-family: 'Montserrat', Arial sans-serif;
				font-weight:500 ;
				margin: 0;
	           }
	           .main__cruisers-paragraf{
	           	text-transform: capitalize;
				font-size: 50px;
				font-family: 'Montserrat', Arial sans-serif;
				font-weight: 400 ;
				color: #fff;
				margin: 0;
	           }
	           .main__cruisers-btn{
	           	width: 450px;
				height: 140px;
				margin-top: 136px;				
				border: none;
				border-radius: 10px;
				cursor: pointer;				
				background-color: rgba(255, 255, 255, 0.12);
				text-transform: uppercase;
				font-size: 26px;
				font-family: 'Montserrat', Arial sans-serif;
				font-weight: 400 ;
				color: #fff;
				
	           }
	          
/*-- main
============================*/
/*
*
*
* Footer
*
*
*/


.footer{
	display: flex;
	width: 100%;
	background: #595f6f;
	margin: 0;
	padding: 62px 0;
}

.footer__title, .footer__textone, .footer__texttwo, .footer__textlast{
	margin: 0;
}
	.footer__left{
		width: 50%;
		padding-left: 80px;
		color: #fff;
	}

		.footer__title{
			text-transform: capitalize;
			font-size: 40px;
			font-family: 'Montserrat', Arial sans-serif;
			font-weight: 700 ;
		}
		.footer__textone{
			padding-top: 60px;
			text-transform: uppercase;
			font-size: 27px;
			font-family: 'Montserrat', Arial sans-serif;
			font-weight: 400 ;
		}

		.footer__texttwo{
			padding-top: 60px;
			text-transform: capitalize;
			font-size: 27px;
			font-family: 'Montserrat', Arial sans-serif;
			font-weight: 400 ;
		}
		.footer__textlast{
			padding: 100px 0 0 0;
			text-transform: uppercase;
			font-size: 24px;
			font-family: 'Montserrat', Arial sans-serif;
			font-weight: 400 ;
		}



.footer__center{
	width: 25%;
	position: relative;
	border-left: 1px solid #4d5362;
	border-right: 1px solid #4d5362;
}


	.container{
		display: flex;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.nav1 .nav2{
		width: 50%;

	}
		.nav1__item{
			position: relative;
		}
			.nav1__link{
				text-transform: uppercase;
				font-size: 16px;
				font-family: 'Montserrat', Arial sans-serif;
				font-weight: 300 ;
				color: #fff;
				line-height: 2.7;
				
				}

				.nav1__link:after{
					content: '';
					display: block;
					width: 0;
					top: 80%;
					height: 1px;
					background: #fff;
					transition: width .3s ease-in-out;
					position: absolute;

				}
					.nav1__link:hover:after{
						width: 100%;
					}
		.nav2__item{
			position: relative;
		}
			.nav2__link{
				text-transform: uppercase;
				font-size: 16px;
				font-family: 'Montserrat', Arial sans-serif;
				font-weight: 300 ;
				color: #fff;
				line-height: 2.7;
				transition: color .1s ease-in-out;
			}
				.nav2__link:after{
					content: '';
					display: block;
					width: 0;
					top: 80%;
					height: 1px;
					background: #fff;
					transition: width .3s ease-in-out;
					position: absolute;

				}
					.nav2__link:hover:after{
						width: 100%;
					}

.footer__right{
	width: 25%;
	display: flex;
	flex-direction: column;
}
	.footer__right-form{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

		.btn{
			width: 70%;
			height: 60px;
			margin-top: 100px;
			text-transform: uppercase;
			font-size: 16px;
			font-family: 'Montserrat', Arial sans-serif;
			font-weight: 400 ;
			background-color: transparent;
			border: none;
			cursor: pointer;
			color: #fff;
			}
			.footer__right--text{
				width: 70%;
				height: 60px;
				background: rgba(129, 129, 129, .1);
				text-transform: capitalize;
				font-size: 16px;
				font-family: 'Montserrat', Arial sans-serif;
				font-weight: 400;
				color: #c6c6c6;
				text-align: center;
				border-radius: 10px;
				border: none;
				
				
				}

	 .social__list{
    	display: flex;
    	justify-content: center;
    }

	    .social__item{
		    	margin: 75px 50px 0 0;
		    }

		    .social__link{
	    	font-size: 50px;
	    	color: #a8abb3;
	    	
	    }
		    