.optin{	    
    display: flex;
    flex-direction:column;
    align-items: center;
	    .optin-container{
		width: 1198px;
		padding: 72px;
			.option__text{
				display: flex;
				flex-direction:column;
				
			}
	}
    }

   .optin__text--title{
   	font-family: $optin-font;
   	font-size: 48px;
   	font-weight: 900;
   	padding-top: 83px;
   	letter-spacing: 1.2px;
   	text-transform: uppercase;
   	color: #303030;
   	text-align: center;
   }

   .optin__text-main{
   	display: inline-block;
   	width: 563px;
   	font-family: $optin-font;
   	font-size: 18px;
   	font-weight: 400;
   	padding-top: 15px;
   	letter-spacing: .45px;
   	margin: 0 72px;
   	text-align: center;
  
   	
   	
   }
   .optin__form{
      display: flex;

   }

   .optin__email{
   	width: 496px;
   	height: 70px;
   	background: #fff;
   	border-radius:35px 0 0 35px;
   	margin-top: 57px;
   	position: relative;
   }

   .fa-envelope-o{
   	position: absolute;
   	left: 26px;
   	top: 26px;
   	transform: translate (-50%, -50%);
   }

   .placeholder{
   	position: absolute;
   	height: 50px;
   	width: 300px;
   	border: transparent;
   	left: 70px;
   	top: 50%;
   	transform: translateY(-50%);
   	font-family: $optin-font;
   	font-size: 18px;
   	font-weight: 600i;
   }

   .btn__wrp{
      display: flex;    
      position: relative;  
   }

   .optin__btn{
      width: 207px;
      height: 70px;
      background:#e10011;
      color:#fff;
      margin-top: 57px;
      border-radius: 0 35px 35px 0;
      border: transparent;
   }
   .button{
      font-family: $optin-font-btn;
      font-size: 18px;
      font-weight: 700;
      color: #fff;
      text-decoration: none;
      padding: 20px 50px;      
   }

   .arr{
      height: 0;
      border: 6px solid transparent;
      border-left: 6px solid #fff;
      position: absolute;
      top: 67%;
      right: 35px;
      }

   .optin__footer{
      display: flex;
      padding: 60px 0 27px 0;
      font-family: $optin-font;
      font-size: 18px;
      font-weight: 400;
      color: #979797;
      .company{
         color: #000;

      }
   }
   .fa-copyright{
            margin-right: 6px;
         }