// Colors




$primary-color: #eeeeee;

//header
$header-font: 'Roboto', sans-serif;
$header-font-color:#303030;

//slider

$slider-font-title: 'Raleway', sans-serif;
$slider-font-text: 'Roboto', sans-serif;

//work
$work-color-main: #fff;
$work-font-title: 'Raleway', sans-serif;
$work-font-text: 'Raleway', sans-serif;
$work-font-clock: 'Roboto', sans-serif;

// optin
$optin-font: 'Raleway', sans-serif;
$optin-font-btn:'Roboto', sans-serif;
