
/*-- adjustment settings
============================*/

* {
	box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}





/*-- maincontent
============================*/
.maincontent{
	position: relative;
	width: 100%;
	height: 100%;
	background: linear-gradient(25deg, #ff512f, #dd2476);
}



/*-- input-wrap
============================*/
.input-wrap{
	position: absolute;
	width: 460px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #FFFFFF;

	
}
/*-- input-wrap
============================*/

/*-- title
============================*/
.title{
	padding:30px;
}
.header__text{
	background: url('../img/icon/sign up icon.png') left center no-repeat;
    font-size: 24px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    padding-left: 33px;
    margin: 0;
    margin-bottom: 15px;   
    
    line-height: 24px;
}
.title__text{	
	font-weight: 300;
	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: #7a7b7f;

}
.title__text-log{
	color: #ea355a;
} 

.title__text-log:hover{
	text-decoration: underline;
}

/*
*
* mainform
*
*/

.mainform{
	padding: 5px 30px 15px 30px;
}

.name{
	display: inline-block;
	width: 49%;
	height: 40px;
	border-color: transparent;
	border-radius: 5px;
	background: #E3E3E3;
	padding-left: 15px;

}
.lastname{
	margin-left: 3px;
}

	
.form__data{
	padding: 15px 0;
}
.data{
	width: 100%;
	height: 40px;
	border-color: transparent;
	border-radius: 5px;
	background: #E3E3E3;
	padding: 15px;
	
}
.email{
	margin-bottom: 15px;
}

.btn{
	width: 100%;
	height: 55px;
	border: transparent;
	box-shadow: 0 4px 0 #bd1962;
	border-radius: 5px;
	background: #ea355a;	
	font-family: Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FFFFFF;
}
/*
*
* mainform
*
*/

/*
*
* .footer
*
*/
.footer{
	padding: 0 30px 50px 30px;
	font-size: 12px;
	font-family: Arial, sans-serif;
	font-weight: 400;
	line-height: 20px;
	color: #7a7b7f;
}

.terms__policy{
	color: #ea355a;

}

.terms__policy:hover{
	text-decoration: underline;
} 